@tailwind base;
@tailwind components;
@tailwind utilities;

.horaP
{
    background-color: rgba(155, 155, 155, 0.397);
    border-radius: 5px;
    padding: 20px;
    border: 1px solid green;
    font-size: 80px;
}