@tailwind base;
@tailwind components;
@tailwind utilities;

.horaP
{
    background-color: rgba(155, 155, 155, 0.397);
    border-radius: 5px;
    padding: 20px;
    border: 1px solid green;
    font-size: 80px;
}

.divLink
{
 
    display: 'flex';
    align-items: 'center'; 
    justify-content: center;
    margin: 50px;
}
.link
{
    border: 1px solid green;
    background-color: rgba(155, 155, 155, 0.397);
    margin-bottom: 20px;
    padding: 17px;
    border-radius: 10px;
    font-size: 32px;
    font-weight: bold;
    
}